.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081a35;
}

.login {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login_form {
    height: 430px;
}
.forgot_password_container {
    height: 360px;
}
.forgot_password_link {
    height: 68px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_form_field {
    height: 95px;
}
.login_link {
    height: 60px;
}

.otp_input {
    width: 60px;
    height: 40px;
}