.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #081a35;
}

.login {
    height: 590px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.login_form_container {
    height: 450px;
    background-color: white;
}
.login_form {
    height: 520px;
}
.login_form_field {
    height: 95px;
}
.login_link {
    height: 60px;
}

.signup {
    height: 800px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signup_form {
    height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signup_form_field {
    height: 95px;
}
.signup_form_field_textarea {
    height: 120px;
}
.signup_link {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon
{
    font-size: 70px;
    color:dimgray;
}

.icon:hover
{
    color: black;
}

.forgot_password_link {
    height: 68px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
